* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
}

.Left {
  height: 150%;
  position: absolute;
  left: 0;
  z-index: -4;
  width: 15vw;
  background-color: #67b0b5;
  transform: translateX(85vw);
}

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header nav ul a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  color: #455e6b;
  margin-right: 2rem;
}



/* main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
} */

.FAndP {
  display: flex;
  justify-content: center;
}

.FAndP .pic, .form {
  width: 50vw;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FAndP .pic{
  width: 40vw;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


main div.form table tr {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border-bottom: 1.5px solid #92c4e0;
}

main div.form table tr th {
  font-family: "Oswald", sans-serif;
  width: 200px;
  font-size: 25px;
  font-weight: 400;
}

main div.form table tr td {
  padding: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
main div.form table tr td .flutter{
  width: 3vw;
  height: 3vw;
}

main div.form table tr td .c {
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
}

main div.form table tr td a {
  margin: 10px;
  color: #455e6b;
}

main div.form table tr td ul, main div.form table tr td ol {
  margin: 10px 0px;
}

main div.form table tr td ul li, main div.form table tr td ol li{
  width: 450px;
}

main div.form table tr:hover {
  background-color: #e1eef5;
}




main div.pic .me {
  width: 380px;
  height: 420px;
  position: absolute;
  margin-top: 20px;
}

main div.pic .back {
  width: 420px;
  height: 530px;
  background-color: #477e9d;
  position: absolute;
  /* top: 100px;
  left: 273px; */
  z-index: -1;
}

.meContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0vw;
}


main .project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 20vw;
}
main .project1, .project2, .project3, .project4, .project5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 50px 0px;
}

main .project1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
}



main .project1 .text p,
main .project1 .text a {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


main .project2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60vw;
}



main .project2 .text p,
main .project2 .text a {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


main .project3 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60vw;

}



main .project3 .text p,
main .project3 .text a {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


main .project4 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60vw;
}


main .project4 .text p,
main .project4 .text a {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


main .project5 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 60vw;
}


main .project5 .text p,
main .project5 .text a {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.active {
  color: #477e9d;
}

@media screen and (max-width: 1080px) {
  body {
    overflow: scroll;
  }
  .FAndP {
    flex-direction: column;
  }
  .FAndP .pic, .form {
    margin-left: 18vw;
  }
  .FAndP .pic {
    margin-top: 50px;
  }
  .Left {
    height: 160%;
  }
}

@media screen and (max-width: 700px) {
  .Left {
    width: 0vw;
  }
  .FAndP {
    align-items: center;
  }
  .FAndP .pic, .form {
    margin-left: 0vw;
  }
  main div.form table tr td ul li, main div.form table tr td ol li {
    width: 150px;
  }
  main div.form table tr td .flutter {
    width: 10vw;
    height: 10vw;
  }
  .FAndP .pic, .form {
    margin-top: 50px;
  }
  main div.form table tr td {
    font-size: 13px;
  }
  main div.pic .me {
    width: 60vw;
    height: 80vw;
    object-fit: cover;
  }
  main div.pic .back {
    width: 80vw;
    height: 90vw;
  }
  .FAndP .pic, .form {
    margin: 30px 0px;
}
}